<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabulation</title>
</head>
    <body>
        <h1>Result of tabulation</h1>
        <p th:text="'Max Y index: ' + ${maxIndexY}"></p>
        <p th:text="'Max Y: ' + ${maxYNumber}"></p>
        <p th:text="'Max X: ' + ${maxXNumber}"></p>
        <p th:text="'Min Y index: ' + ${minIndexY}"></p>
        <p th:text="'Min Y: ' + ${minYNumber}"></p>
        <p th:text="'Min X: ' + ${minXNumber}"></p>
        <p th:text="'Sum of Y: ' + ${sumY}"></p>
        <p th:text="'Middle of Y: ' + ${middleY}"></p>
    </body>
</html>